<h1> My Tasks </h1>
<%= link_to "Create Tasks", new_user_task_path(current_user),  class: 'btn btn-primary btn-mini' %>
<br><br>


<table id = "tasks" class = "filterable">
  <thead>
      <tr> 
          <th>Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Days Left</th>
          <th>Due Date</th>
          <th>Complete</th>
      </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task|  %>    
      <tr>
          <td><%= task.name%></td> 
          <td><%= task.description%></td>
          <td><%= task.category%></td>  
          <td><%= task.time_remaining%></td>
          <td><%= task.due_date%></td>
          <td><%= check_box_tag "task_id[]", task.id, checked = task.complete%></td> 
      </tr> 
  <% end %>
  </tbody>
</table>
<br>



