<h1> My Tasks </h1>
<%= link_to "Create Tasks", new_user_task_path(current_user),  class: 'btn btn-primary btn-mini' %>
<br><br>
<%= form_tag user_complete_path(current_user, :task_id), :method => :put do %>
<table class = "filterable">
  <tbody>
      <tr> 
          <th><%= sortable "name", "Name" %></th>
          <th><%= sortable "description", "Description" %></th>
          <th><%= sortable "category", "Category" %></th>
          <th><%= sortable "created_at", "Days Left" %></th>
          <th><%= sortable "created_at", "Due Date" %></th>
          <th><%= sortable "complete", "Complete" %></th>
      </tr>
  <% @tasks.each do |task|  %>    
      <tr>
          <td><%= task.name%></td> 
          <td><%= task.description%></td>
          <td><%= task.category%></td>  
          <td><%= task.time_remaining%></td>
          <td><%= task.due_date%></td>
          <td><%= check_box_tag "task_id[]", task.id, checked = task.complete%></td> 
      </tr> 
  <% end %>
  </tbody>
</table>
<br>
  <%= submit_tag "Mark as Complete" %>
  <% end %>

